/* @import './base.css'; */

* {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  background-color: #111;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  margin: 50px;
  min-height: 250px;
}
h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
  color: #485696;
}

/* footer */
.footer {
  height: 200px;
  background-color: #222;
  border-top: 4px solid #111;
  color: #485696;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer p,
.footer span {
  margin: 5px auto;
  background-color: #222;
}
.footer a {
  background-color: #222;
  color: #5eb1bf;
  text-decoration: none;
  transition: 0.4s;
}
.footer a:hover {
  color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.form-container span {
  color: #fff;
  margin-top: auto;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

label {
  font-weight: bold;
  margin-bottom: 15px;
  color: #485696;
  padding: 5px 10px;
  border-left: 4px solid #f08cae;
}
input,
select {
  background-color: #333;
  padding: 5px 10px;
  width: 400px;
  color: #fff;
}
select {
  cursor: pointer;
}
.err-msg {
  text-align: center;
  color: transparent; /* Inicialmente, torna o texto transparente */
  transition: color 0.3s ease-in-out; /* Adiciona uma transição suave de cor */
}
.show-err {
  color: red; /* Define a cor desejada quando a mensagem é exibida */
}
.confirm-btn {
  background-color: #485696;
  font-weight: bold;
  color: #f08cae;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s;
}
.confirm-btn:hover {
  background-color: #f08cae;
  color: #485696;
}
.cancel-btn {
  background-color: #e74c3c;
  color: #fff;
  font-weight: bold;
  padding: 6px;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s;
}
.cancel-btn:hover {
  background-color: #fff;
  color: #e74c3c;
}

@media screen and (max-width: 768px) {
  .form-container {
    max-width: 400px;
  }
  input,
  select {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .form-container {
    max-width: 300px;
  }
  input,
  select {
    width: 220px;
  }
}
